*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Fuentes */
    --encabezado: 'Forum', sans-serif;
    --cuerpo: 'Oswald', sans-serif;
    /* Colores */
    --color-principal: #1d3557;
    --color-secundario: #457b9d;
    --color-detalles: #98c1d9;
    --blanco: #FFFFFF;
}


#container {
    width: 470px;
    height: 500px;
    margin: 62px auto;
    border-radius: 30px;
    background: var(--color-principal);
}

/* Inicio Header */
header {
    height: 100px;
    padding-top: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 28px;
    font-family: var(--encabezado);
    font-weight: 800;
    color: var(--blanco);
    letter-spacing: 3px;
    word-spacing: 3px;
    text-align: center;
    padding: 12px 0;
}

.divisas {
    text-align: center;
}

.opciones {
    font-size: 15px;
    font-family: var(--cuerpo);
    font-weight: 500;
    letter-spacing: 1.2px;
    color: var(--blanco);
    list-style: none;
    text-decoration: none;
    display: inline;
    margin: 0 5px;
    position: relative;
    cursor: pointer;
}

.opciones::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #FFFFFF;

    transition: 1.7s all;
    transform: scaleX(0);
    transform-origin: left;
}

.opciones:hover::before {
    transform: scaleX(1);
}
/* Fin Header */

/* Inicio Convertidor */
.informacion {
    width: 400px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

#cantidad, #convertir {
    padding: 8px;
    margin: 0 10px;
    font-family: var(--cuerpo);
    font-size: 16px;
    border-radius: 10px;
    border-style: solid;
}

#cantidad {
    width: 220px;
    text-align: center;
}

#convertir {
    background-color: var(--color-principal);
    border-color: var(--blanco);
    color: var(--blanco);
    cursor: pointer;
}

#convertir:hover{
    background-color: var(--color-secundario);
    border-color: var(--color-secundario);

}
/* Fin Convertidor */

/* Inicio Resultado */



/* Fin Resultado */

.valores {
    padding: 10px 0;
    text-align: center;
}

.btn {
    font-family: monospace;
    text-align: center;
    margin: 5px auto;
    padding: 10px;
}

footer {
    background-color: var(--color-principal);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.credit {
    font-family: var(--encabezado);
    font-weight: 800;
    letter-spacing: 2px;
    color: var(--blanco);
    text-decoration: none;
    padding-bottom: 15px;
}



#usuario {
    font-family: var(--encabezado);
    font-size: 24px;
    color: var(--blanco);
    text-align: center;
    background-color: var(--color-detalles);
    padding: 5px 10px;
    width: 300px;
    height: 80px;
    display: flex;
    align-items: center;
    animation-name: bienvenida;
    animation-duration: 6s;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes bienvenida {
    0% {
        transform: scaleX(0);
    }

    50% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}
