*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Fuentes */
    --poppins: 'Poppins', sans-serif;
    --nunito: 'Nunito Sans', sans-serif;
    /* Colores */
    --color-principal: #1d3557;
    --color-secundario: #457b9d;
    --color-detalles: #98c1d9;
    --blanco: #FFFFFF;
}

header {
    background-color: var(--color-principal);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 28px;
    font-family: var(--poppins);
    font-weight: 800;
    color: var(--blanco);
    letter-spacing: 3px;
    word-spacing: 3px;
    text-align: center;
    padding: 12px 0;
}

nav .divisas a{
    font-size: 15px;
    font-family: var(--nunito);
    font-weight: 500;
    letter-spacing: 1.2px;
    color: var(--blanco);
    list-style: none;
    text-decoration: none;
}

.divisas li {
    display: inline;
    padding: 0 10px 0 10px;
}

#usuario {
    font-family: var(--poppins);
    font-size: 24px;
    color: var(--blanco);
    text-align: center;
    background-color: var(--color-detalles);
    max-width: 300px;
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: -1;
    animation-name: bienvenida;
    animation-duration: 5s;
    transform: scaleX(0);
}

@keyframes bienvenida {
    0% {
        transform: scaleX(0);
    }

    50% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}

main {
    font-size: var(--nunito);
}

img {
   position: relative;
   left: 31%;
   bottom: -80px;
   z-index: -1;
   width: 500px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: 20px auto;
    background: #98c1d9;
}

.container-divisa {
    background: pink;
    width: 400px;
    padding: 20px;
    margin: 12px auto;
    text-align: center;
}

.texto {
    display: block;
    font-family: var(--poppins);
    font-weight: 400;
    padding-bottom: 10px;
}

.valores {
    padding: 10px 0;
    text-align: center;
}

.btn {
    font-family: monospace;
    text-align: center;
    margin: 5px auto;
    padding: 10px;
}



footer {
    background-color: var(--color-principal);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.credit {
    font-family: var(--poppins);
    letter-spacing: 1.5px;
    color: var(--blanco);
    text-decoration: none;
    padding-bottom: 15px;
}
